2020-01-03T12:58:05 - INITIAL_LOW - docs: Outline contribution guidelines
2020-01-03T13:47:01 - INITIAL_LOW - Initial setup: .gitignore
2020-01-09T09:06:02 - INITIAL_LOW - docs: Outline contribution guidelines
2020-01-09T09:25:27 - INITIAL_LOW - chore: Add .gitignore
2020-01-10T13:07:57 - INITIAL_LOW - docs: Outline contribution guidelines
2020-01-22T09:44:48 - INITIAL_LOW - Initial setup: .gitignore
2020-01-24T09:39:24 - INITIAL_LOW - refactor: Initial project structure for src
2020-01-27T10:37:57 - INITIAL_LOW - chore: Add .gitignore
2020-01-29T11:43:18 - INITIAL_LOW - refactor: Initial project structure for src
2020-01-29T12:36:59 - INITIAL_LOW - refactor: Initial project structure for src
