2020-01-03T12:58:05 - INITIAL_LOW - docs: Outline contribution guidelines
2020-01-03T13:47:01 - INITIAL_LOW - Initial setup: .gitignore
2020-01-09T09:06:02 - INITIAL_LOW - docs: Outline contribution guidelines
2020-01-09T09:25:27 - INITIAL_LOW - chore: Add .gitignore
